* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secoundary-color: #d4af37;
  --nav-item: #e6d3a3;
}

body {
  font-family: "Tajawal", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cairo", sans-serif;
}

/*  start header */
/* .brand-circle-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #2c2c2c, #0b0b0b);
  cursor: pointer;
  border: 1px solid #d4af37;
} */

/* .circle-text {
  font-weight: 900;
  font-size: 16px;
  color: #d4af37;
  text-align: center;
  transform: rotate(-10deg);
} */

.logo {
  width: 140px;
} 
.navbar {
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(120deg, #0b0b0b, #2c2c2c);
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-item {
  padding: 0 5px;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  font-size: 17px;
  font-weight: bold;
  color: #e6d3a3;
}

.nav-link {
  color: var(--nav-item);
}

.nav-link:hover {
  color: var(--nav-item);
}

.nav-item:hover {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-item.active {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item.active:hover {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-link:focus {
  color: var(--nav-item);
}

.navbar-toggler-icon {
  color: var(--secoundary-color);
  font-size: 30px;
  padding: 10px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.cta-btn {
  background: linear-gradient(45deg, #d4af37, #f6e27a);
  padding: 10px 22px;
  border-radius: 25px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
}

.cta-btn:hover {
  transform: scale(1.05);
  color: black;
}

/*  end header */
/* Hero Section */
.hero_contant {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
   padding-top: 150px;
  padding-bottom: 50px; 
}


.hero-badge {
  display: inline-block;
  background: #5a4300;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
  color: black;
  margin-bottom: 30px;
}

.hero-subtitle {
  font-size: 20px;
  color: #b38c0d;
  margin-bottom: 25px;
  font-weight: bold;
  max-width: 550px;
}

.highlight-time {
  color: #111;
  font-weight: 700;
  font-size: 22px;
  padding: 2px 8px;
  border-radius: 6px;
}

.highlight-plan {
  color: #5a4300;
  font-weight: 700;
}

.hero-cta {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 18px;
}

.cta-btn i {
  font-size: 15px;
  transition: 0.3s;
}

.hero-cta:hover {
  background: #111;
  color: #d4af37;
  transform: translateY(-2px) scale(1.05);
  border: 1px solid #d4af37;
}

.cta-btn:hover i {
  transform: translateX(-3px);
}

.hero-secondary-btn {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  text-decoration: none;
  background: black;
  padding: 10px 22px;
  border-radius: 25px;
  color: var(--secoundary-color);
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
}

.hero-secondary-btn:hover {
  background: linear-gradient(45deg, #d4af37, #f6e27a);
  color: black;
  transform: translateY(-2px) scale(1.05);
  border: 1px solid black;
}

.hero-trust {
  display: flex;
  gap: 18px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.hero-trust span {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero-trust i {
  font-size: 16px;
}

.trust-users {
  color: black;
}

.trust-session {
  color: #2f5fa3;
}

.trust-online {
  color: #2f8f6b;
}
.hero-rating {
  margin-top: 10px;
  color: #d4af37;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-rating span {
  color: #333;
  margin-right: 8px;
  font-size: 14px;
}

.hero-img {
  width: 100%;
  max-width: 390px;
}


/* .contact-btn {
  text-decoration: none;
  font-size: 22px;
  border: 2px solid #543a14;
  padding: 8px 30px;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: rgba(149, 139, 139, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
  color: black;
  background-color: #f0bb78;
}

.contact {
  margin-top: 10px;
  display: inline-block;
}

.contact-btn:hover {
  color: rgb(15, 14, 14);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 20px;
  transform: scale(1.05);
  background-color: #ffffff;
} */

/* .fa-whatsapp {
  padding-right: 10px;
  color: green;
  font-size: 18px;
  margin-bottom: 0;
} */

@media (max-width: 767px) {
  /* .contact {
    margin: 15px auto;
    text-align: center;
    display: block;
    width: 60%;
  } */

  .navbar > .container-fluid {
    padding: 10px 10px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  /* .contact-btn {
    padding: 8px 20px;
  } */

  .hero-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .hero_contant {
    padding-top: 180px;
    text-align: center;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-secondary-btn {
    margin-top: 20px;
  }

  .hero-img {
    display: none;
  }

  .hero-trust,
  .hero-rating {
    justify-content: center;
  }

  .logo {
    width: 100px;
    height: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* .contact-btn {
    padding: 8px 40px;
  } */
}
